<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет администратора</title>
</head>
<body>
<h1>Личный кабинет администратора</h1>
<form method="get" action="/logout" th:action="@{/authentication}">
    <button type="submit">Выйти из личного кабинета</button>
    <br>
</form>
<br>
<a href="admin/product/add">Добавить товар</a>
<hr>
<div th:each="product: ${products}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="200px">
    <br>
    <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
    <p th:text="'Описание: ' + ${product.getDescription()}"></p>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
    <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
    <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}">Просмотр карточки товара</a>
    <br>
    <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактирование товара</a>
    <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удаление товара</a>
</div>
</body>
</html>